<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Map</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8acf82;">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='img/icon.png') }}" width="35" height="35" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{ url_for('option1') }}">United States</a>
        <a class="nav-item nav-link" href="{{ url_for('option2') }}">Global</a>
        <a class="nav-item nav-link" href="{{ url_for('option3') }}">Map</a>
      </div>
    </div>
  </nav>

  <div>
    <p>This is the global page</p>
  </div>



  <!-- The div where we will inject our map -->
  <div id="map"></div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <!-- API key -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
  <!-- JS -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>

</body>

</html>