<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Renewable Energy: Sources</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body style="background-color:#48a0705e;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8acf82;">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='img/icon.png') }}" width="35" height="35" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
        <a class="nav-item nav-link" href="{{ url_for('option1') }}">United States</a>
        <a class="nav-item nav-link" href="{{ url_for('option2') }}">Global</a>
        <a class="nav-item nav-link" href="{{ url_for('option3') }}">Map</a>
        <a class="nav-item nav-link active" href="{{ url_for('option4') }}">Sources</a>
      </div>
    </div>
  </nav>

  <br><br>
  
  <div class="row">
    <div class="col-md-12">
      <canvas id="canvas-basic"></canvas>
      <div class="text-center">
        <h5>Everything has to come from some where!</h5>
        <br>
        <p>The data collected for this project and more information reguarding 
          Energy can be found: <br>
        </p>
        <div> 
          <br><hr>
          <strong>United States data and percentages NEI and EIA:</strong><br>
          <a href="https://www.nei.org/resources/statistics/state-electricity-generation-fuel-shares">NEI (US State Generation)</a><br>
          <a href="https://www.eia.gov/energyexplained/electricity/electricity-in-the-us.php">US Energy Information Administration</a>
          <br><br><hr>
          <strong>Word data and information from 'Our World in Data':</strong><br>
          <a href="https://ourworldindata.org">Our World In Data</a><br>
          <a href="https://ourworldindata.org/energy-overview">Our World In Data: Overview</a><br>
          <a href="https://ourworldindata.org/grapher/renewable-energy-consumption?country=~OWID_WRL<">Our World In Data: consumption</a><br>
          <a href="https://ourworldindata.org/grapher/renewable-energy-gen?country=~OWID_WRL">Our World In Data: Generation</a>
          <hr>
        </div>
      </div>
    </div>
  </div>


  <footer class="page-footer blue-grey darken-4">
    <div class="text-center">
      <p>Thanks for stopping by.<br>
        If you enjoyed this project and wish to see how it was made<br>
        Please stop my my GitHub Repository: <br>
        <a href="https://github.com/FAufenger/EnergyMeasured--deployedHeroku">GitHub Reop: EnergyMeasured--deployedHeroku</a><br>
        Have a nice day!</p>
    </div>
  </footer>


  <!--Granim JavaScript Library  -->
  <script src="https://cdn.tutorialjinni.com/granim/2.0.0/granim.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/granimfile.js') }}"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/.js') }}"></script> -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    

  </body>

</html>